:root {
    /* background */
    --bg-color-body: #111;
    --bg-color-container: #222;
}

[data-theme="light"]{
    /* background */
    --bg-color-body: #9b9a9a;
    --bg-color-container: #ebeaea;

    /* text-color */
    --txt-color: #000;
}