* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    line-height: 1.4;
  }
  
  header {
    color: #fff;
    display: flex;
    align-items: center;
    /* padding: 20px; */
    height: 200px;
    width: 100%;
   
    background-image: url("https://media.licdn.com/dms/image/v2/D4D16AQEdaOrFJTdpIg/profile-displaybackgroundimage-shrink_350_1400/profile-displaybackgroundimage-shrink_350_1400/0/1733684188659?e=1747872000&v=beta&t=ViA2Ja-VJ-hNam1r3kpXyXMFAVjC75UuGuSwiZ_xYhM");
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
  }

  nav {
    background-color:rgb(90, 205, 167); 
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  
  nav a {
    color:rgb(74, 146, 120);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: 0.2s;
  }
  
  nav a:hover {
    color: #fff;
    transform: scale(1.1);
  }
  
  main {
    padding: 20px;
    max-width: 1200px;
    margin: 10px auto;
  }
  
  section {
    background-color: #fff;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 4px;
    height: fit-content;
  }
  
  .profile-photo {
    width: 220px;
    height: 248px;
    border-radius: 5%;
    background-color: #ccc;
    margin-right: 20px;
    position: absolute;
    object-fit: cover;

    transition: 1s;
  }

  .profile-photo:hover {
    scale: 1.05;
  }

  .banner-photo {
    width: banner;
    height: auto;
    object-fit: cover;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .profile-info h1 {
    font-size: 72px;
    text-shadow: 2px 2px 2px rgb(114, 114, 114);
  }
  
  .profile-info p {
    font-size: 24px;
    font-weight: bold;

    transition: 10.s;
  }

  .technology-icon {
    width: 3rem;
    margin-right: 20px;
    
  }

  .technology-icon:hover{
    transform: scale(1.1);
  }

  .icons-container  {
    margin-top: 0px;
  }

  .contact-icon {
    width: 2rem;

    transition: 0.2s;
  }

  .contact-icon:hover{
    transform: scale(1.1);
    cursor: pointer;
  }

  .container {
    width: 1600px;
    display: flex;  
  }

  .side-bar {
    width: 400px;
    margin-right: 40px;
  }

  .about-and-contact {
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 40px;
  }

  .section-container {
    width: 1600px;
  }
  
  .info-section {
      display: flex;
      
  }

  .icon-container {
    justify-content: center;
  } 
  .skills {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
 
  .project-card {
    /* width: 200px; */
    height: 200px;
    background: #fff;
    box-shadow: 2px 2px 2px #e6e6e6;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;

    transition: 0.5s;
  }

  .project-card .project-image {
    width: 200px;
  }

  .project-card:hover {
    transform: scale(1.05);
  }
  
  .education {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .profile-photo {
    position: relative;
    animation: fluctuate 1s ease-in-out infinite alternate;
  }

  .experience-card {
    height: 100px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 2px #e6e6e6;
    border-radius: 10px;
    margin-bottom: 10px;

    transition: 0.2s;
  }

  .experience-card:hover {
    transform: scale(1.005);
  }

  .company-logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-right: 10px;
  }

  .job-title {
    font-weight: bold;
    font-size: 20px;
  }

  .period {
    background: rgb(231, 231, 231);
    padding: 0px 16px;
    width: fit-content;
    border-radius: 10px;
  }

  .edu-card {
    height: 100px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 2px #e6e6e6;
    border-radius: 10px;
    margin-bottom: 10px;

    transition: 0.2s;
  }

  .edu-card:hover {
    transform: scale(1.005);
  }
  
@keyframes fluctuate{
  0%{
    top: 30px;
  }
  100%{
    top: 40px;
  }
}